<th:block th:fragment="menu" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${session.isUser}">
        <div class="navbar-container">
            <nav class="navbar">
                <H3 class="title">CourseProject</H3>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/order">Создать заявку</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/openorders">Открытые заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/closeorders">Выполненные заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/exit">Выйти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:unless="${session.isUser}">
        <div class="navbar-container justify-content-center">
            <nav class="navbar">
                <H3 class="title">CourseProject</H3>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/openorders">Открытые заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/closeorders">Выполненные заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/exit">Выйти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</th:block>